PORT=8787
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=replace-this
GOOGLE_CLIENT_ID=829954796836-ti392rt671h20458166bsmif8hfuq4q9.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=829954796836-ti392rt671h20458166bsmif8hfuq4q9.apps.googleusercontent.com
GEO_RADIUS_KM=10
ADMIN_KEY=zenchi-admin
HEARTBEAT_GRACE_MS=45000
